* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- Utility -------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'Roboto', 'Noto', sans-serif;
    line-height: 1.6;
    font-size: 62.5%;
    /* background-color: #292a2d; */
    background-color: #212121;
    color: #bcbcbc;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.btn {
    text-decoration: none;
    border: 2px solid #212121;
    color: #212121;
    margin:10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.btn:hover {
    color: #bcbcbc;
    background-color: #212121;
}

.btn:active {
    background-color: #4b4b4b;
}

.color__primary {
    background-color: #b9f6ca;
}

.color__secondary {
    background-color: #80d8ff;
}

.center {
    text-align: center;
}

/* -------------------- Navbar -------------------- */

.navbar {
    font-size: 1.2rem;
    width: 100%;
    height: 70px;
    background-color: #212121;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.navbar a {
    color: #a9a9b3;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    padding: 17.25px 0;
}

.nav__logo {
    font-size: 1.5rem;
}

.nav__logo a {
    padding: 3px;
}

.nav__logo a:hover {
    color: #b9f6ca;
}

.nav {
    display: flex;
}

.nav a {
    padding: 10px;
}

.nav a:hover {
    color: #b9f6ca;
    border-bottom: #b9f6ca 2px solid;
}

.cursor {
    display: inline-block;
    width: 12px;
    height: 1.2rem;
    /* background: #fe5186; */
    background: #b9f6ca;
    border-radius: 1px;
    animation: cursor 1s infinite;
  }

@keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  /* -------------------- Hero -------------------- */

  .hero {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .hero__img {
      border-radius: 50%;
      width: 300px;
      margin: 0 15px;
  }

  .hero__content {
      font-size: 1.2rem;
      margin: 30px 15px;
  }

  .hero__content ol {
      padding-left: 30px;
  }

/* -------------------- Projects -------------------- */

.project__header {
    font-size: 2rem;
}

.project {
    width: 100%;
    display: flex;
    align-items: stretch;
    color: #424242;
    font-size: 1.2rem;
    margin: 35px 0;
}
.project:nth-child(2n) {
    flex-direction: row-reverse;
}

.col {
    width: 50%;
    margin: 0 10px;
}

.card__img {
    border-radius: 5px;
}

.card__body {
    border-radius: 5px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card__content ion-icon {
    font-size: 2rem;
    margin-top: 15px;
}

/* -------------------- Contact -------------------- */

.contact__header {
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact__form {
    font-size: 1.2rem;
    width: 75%;
    margin: 0 auto 30px;
    background-color: #b9f6ca;
    border-radius: 5px;
    color: #424242;
    padding: 30px;
}

.form__items {
    display: flex;
    flex-direction: column;
}

.contact__form label {
    display: block;
    font-weight: 700;
}

.contact__form input,
.contact__form textarea {
    display: block;
    background-color: #bcbcbc;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

.contact__form textarea {
    margin-bottom: 30px;
}

.contact__form a {
    text-decoration: none;
    color: #424242;
}


.contact__btn {
    align-self: center;
}

/* -------------------- Footer -------------------- */

.foot {
    font-size: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px 0;
}

/* -------------------- Media Queries -------------------- */

@media(max-width: 1500px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width: 1300px) {
    .container {
        max-width: 960px;
    }

    .navbar {
        font-size: 1rem;
    }

    .nav__logo {
        font-size: 1.2rem;
    }

    .project {
        font-size: 1rem;
    }

    .card__content ion-icon {
        font-size: 1.6rem;
    }

    .btn {
        font-size: .8rem;
        padding: 8px 15px;
    }

    .contact__btn {
        font-size: 1rem;
    }
}

@media(max-width: 1000px) {
    .container {
        max-width: 700px;
    }

    .hero {
        flex-direction: column;
        height: auto;
        margin: 100px auto 60px;
    }
    .hero__img {
        margin-bottom: 30px;
    }
    
    .project {
        flex-direction: column;
    }

    .project:nth-child(2n) {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .contact__btn {
        font-size: 1rem;
    }
}

@media(max-width: 800px) {
    .btn {
        font-size: .8rem;
        padding: 6px 10px;
    }

    .nav__logo {
        margin-left: 10px;
    }

    .hero__content {
        font-size: 1rem;
    }

    .hero__img {
        width: 250px;
    }

    .project {
    font-size: .8rem;
}

    .col {
        width: 90%;
        margin: 0 auto;
    }

    .card__content ion-icon {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .contact__form {
        width: 90%;
        font-size: 1rem;
    }

    .contact__btn {
        font-size: 1rem;
    }

    .contact__form input,
    .contact__form textarea {
        font-size: 1rem;
        padding: 5px;
    }

    .contact__form textarea {
        margin-bottom: 15px;
    }
}

@media(max-width: 500px) {
    .btn {
    font-size: 1rem;
    margin: 6px;
    }

    .navbar {
        height: 90px;
    }

    .nav__logo {
        margin-left: 0px;
    }

    .nav__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero__content {
        font-size: .8rem;
    }

    .card__btn {
        display: flex;
        flex-direction: column;
    }

    .contact__form {
        width: 100%;
        border-radius: 0px;
        padding: 0 30px 20px;
        font-size: .8rem;
        margin-bottom: 0;
    }

    .contact__header {
        color: #424242;
        background-color: #b9f6ca;
        margin-bottom: 0;
    }

    .contact__btn {
        font-size: 1rem;
    }

    .foot {
        font-size: .8rem;
    }
}

@media(max-width: 400px) {
    .btn {
        font-size: 1rem;
        padding: 4px 7px;
    }

    .nav a {
        padding: 6px;
    }

    .hero {
        margin-bottom: 30px;
    }

    .hero__img {
        width: 200px;
    }

    

    .project {
        margin: 20px 0;
    }
}